body {
    font-family: arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 60vh;
    margin: 80px;
    background-color: rgb(151, 80, 218);
}

.container {
    background-color: rgb(202, 145, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    text-align: center;
}

.multiplication {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.multiplication input {
    width: 50px;
    text-align: center;
    font-size: 1.5em;
    margin: - 1-px;
}

button {
    background-color: blueviolet;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(116, 11, 214);
}        

#result {
    margin-top: 20px;
    font-size: 1.2em;
}

#result1 {
    text-align: center;
}